@{
    ViewData["Title"] = "Home Page";
}

@using DAY2.Models;

<h1>First Name: @Model.Firstname</h1>
<br>
<h1>Middle Name: @Model.Middlename</h1>
<br>
<h1>Last Name: @Model.Lastname</h1>
<br>
<h1>Age: @Model.Age</h1>
